{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
<div style="margin-top: 20px; margin-left: 60px;">
    <h4>Кинотеатр «Посмотри» всегда заботится о своих зрителях, поэтому постоянно радует хорошими скидками и подарками.</h4>
    <h1>Карта любимого гостя</h1>
    <p>Карта обладает накопительной системой и системой скидок.</p>
    <h6>Накопительная система:

        → С каждой покупки на карту возвращаются бонусы в размере 5-10% от суммы.<br>
        Использовать накопленные бонусы при оплате билетов можно уже при следующем визите.<br>
        Обратите внимание, что бонусами можно оплатить всю или частичную стоимость кинобилета или попкорна.<br>
        Бесплатный билет на день рождения.</h6>
    <h1>Студентам, школьникам, пенсионерам</h1>
    <p>Скидка в размере от 10 до 20% на билеты при предъявлении удостоверяющего документа.<br>
        Скидки действуют с пн по пт до 17:00<br>
        *Скидка не предоставляется в выходные и праздничные дни, а также на фильмы с особыми ограничениями компании-прокатчика.</p>
    <h1>Дети до 5 лет</h1>
    <p>Билет без предоставления места, выдается бесплатно.</p>
    <p>Информацию об ограничениях, существующих на фильм, вы можете узнать в кассах или у администратора кинотеатра, а также по телефону: +79991112233</p>
</div>
{% endblock %}