{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/main/css/style_main.css">
    <title>Cinema Ticket Application</title>

</head>
<body>
    <div class="container">
        <div class="screen"><img src="../../static/main/img/movie-theater.jpg" height="100px" width="100%" alt="movie-theater"></div>
        <div class="row">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
        </div>
        <div class="row">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
        </div>
        <div class="row">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
        </div>
        <div class="row">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
        </div>
        <div class="row">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
        </div>
    </div>
    <script type="text/javascript">
        let htmlElements =
            document.getElementsByClassName("seat");
        let i = 0;

        while (i < htmlElements.length) {
            htmlElements[i].innerHTML = i+1;
            htmlElements[i].style.textAlign = 'center';
            htmlElements[i].style.color = 'black';
            // if (htmlElements[i].className != 'seat reserved') {htmlElements[i].style.color = 'white';}
            i++;
            }
    </script>

{% for el in bookss %}
    <p style="display: none;" class={{ el.seanse_number }}>{{ el.seat }}</p>
{% endfor %}

<p id="aaaa" style="display: none;"></p>

<div class="movie-list">
    <select name="{{ film.title }}" id="movie">
        {% for film in filmss %}
        <option value={{ film.price }}>{{ film.title }}</option>
        {% endfor %}
        <!-- <option value="250">Морфий</option>
        <option value="240">Про уродов и людей</option>
        <option value="250">Брат-2</option> -->
    </select>
</div>

    <ul class="info">
        <li>
            <div class="seat selected"></div>
            <small>Ваше место</small>
        </li>
        <li>
            <div class="seat"></div>
            <small>Свободно</small>
        </li>
        <li>
            <div class="seat reserved"></div>
            <small>Занято</small>
        </li>
    </ul>

    {{ films.title }}

    <p class="text">
         Вы заплатите за <span id="count"> </span> билет/а <span id="amount"> </span> рублей
    </p>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Получить письмо">
    </form>

<script>
    const container = document.querySelector(".container");
const count = document.getElementById("count");
const seat_sel = document.getElementById("id_seat");
const amount = document.getElementById("amount");
const select = document.getElementById("movie");
const seats = document.querySelectorAll(".seat:not(.reserved)");


getFromLocalStorage();
// calculateTotal();

container.addEventListener("click", function(e){
    if(e.target.classList.contains('seat') && !e.target.classList.contains('reserved') ) {
        e.target.classList.toggle("selected");
        calculateTotal();  
    }
});

select.addEventListener("change", function (e) { 
    calculateTotal();
    showBooks();
 });

 function showBooks() {
    document.getElementById("aaaa").innerHTML = select.options[select.selectedIndex].text;
    const allSeats = container.querySelectorAll('.seat');
    const seatsBooked = document.getElementsByClassName(select.options[select.selectedIndex].text);
    const seatsBooked1 = [];
    const seatsBooked2 = [];
    const seatsBooked3 = [];

    for (let item of seatsBooked) {
        seatsBooked1.push(item.innerHTML)
    }
    
    console.log(seatsBooked1)
    for (let item of seatsBooked1) {
        seatsBooked2.push(item.split(','))
    }
    console.log(seatsBooked2)
    for (let item of seatsBooked2) {
        seatsBooked3.push(...item)
    }
    console.log(seatsBooked3)

    allSeats.forEach(function(seat) {
        seat.className = "seat"
        if (seatsBooked3.includes(seat.innerHTML)) {
            seat.className = "seat reserved";
        }
    });
}

function calculateTotal() {
    const selectedSeats = container.querySelectorAll('.seat.selected');

    const selectedSeatsArr = [];
    const seatsArr=[];
    const selectedSeatsArrId = [];

    selectedSeats.forEach(function(seat) {
        selectedSeatsArr.push(seat);
        selectedSeatsArrId.push(seat.innerHTML);
    });

    seats.forEach(function(seat) {
        seatsArr.push(seat);
    });

    let selectedSeatIndexs = selectedSeatsArr.map(function(seat) {
        return seatsArr.indexOf(seat);
    });

    let selectedSeatCount = selectedSeats.length;
    count.innerText = selectedSeatCount;
    amount.innerText = selectedSeatCount*select.value;
    seat_sel.value = selectedSeatsArrId;

    saveToLocalStorage(selectedSeatIndexs); 
    }

 function getFromLocalStorage() { 
    const selectedSeats =JSON.parse(localStorage.getItem('selectedSeats'));

    if (selectedSeats != null && selectedSeats.length > 0) {
        seats.forEach(function(seat, index) {
            if (selectedSeats.indexOf(index) > -1) {
                seat.classList.add("selected");
            }
        });
    }

    const selectedMovieIndex = localStorage.getItem('selectedMovieIndex');

    if (selectedMovieIndex != null) {
        select.selectedIndex = selectedMovieIndex;
    }
  }

 function saveToLocalStorage(indexs) {
     localStorage.setItem('selectedSeats', JSON.stringify(indexs));
     localStorage.setItem('selectedMovieIndex', select.selectedIndex);
 }
</script>
</body>
</html>