<!DOCTYPE html>
<html>
   <head>
      <title>Личный кабинет</title>
      <meta charset="utf-8">
      <meta name="description" content="Traveling HTML5 Template" />
      <meta name="author" content="Design Hooks" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700" rel="stylesheet" />
      <link href="../../../Посмотри/nava/css/screen.css" rel="stylesheet" />

   </head>
   <body class="home" id="page">
    
      <!-- Main Content -->
      <div class="content-box">
         <!-- Hero Section -->
         <section class="section section-hero">
            <div class="hero-box">
               <div class="container">
                  <div class="hero-text align-center">
                     <h1>Здравствуйте Лев!</h1>
                     <p>Ваша статистика кино "Посмотри"</p>
                     <h3><a href="index.html" style="text-decoration:none;color: white;">перейти на главную</a></h3>

                  </div>

                  <form class="destinations-form">
                     <div class="input-line">
                     </div>
                  </form>
               </div>
            </div>

            <!-- Statistics Box -->
            <div class="container">
               <div style="background-color: #c46c29; color: black; " class="statistics-box">
                  <div class="statistics-item">
                     <span style="color:black" class="value">8</span>
                     <p style="color:black" class="title">Фильмов просмотрено</p>
                  </div>

                  <div class="statistics-item">
                     <span style="color:black" class="value">15</span>
                     <p style="color:black" class="title">Билетов куплено</p>
                  </div>

               </div>
            </div>
         </section>



        

       


      <!-- Scripts -->
      <script src="../../../Посмотри/nava/js/jquery.js"></script>
      <script src="../../../Посмотри/nava/js/functions.js"></script>
   </body>
</html>
